---
layout: default
---

{% comment %}

	Name:

		Ride with Ray

	Description:

		Home page for the rest of the site.

{% endcomment %}

<!-- Main -->
	<div id="main">

		{% for panel in site.panels %}
			<article id="{{ panel.html_id }}">
				{{ panel.output }}
			</article>
		{% endfor %}

	</div>
