---
html_id: tours
title: Tours
---
<section>

	<h1 class="major">Tours</h2>
	<span class="image main"><img src="images/pic01.jpg" alt="Ray Zuchowski" /></span>

	{% include useful.html %}

	<div class="box container">
		<div>
			<h3 class="major">"A" Loop Ride</h3>
			<p>Tailored for beginner to novice riders. If you're new to desert riding, this is a great place to start!</p>
			<p>It's a slower paced, mostly flat with mild small hills, two to three hour ride.</p>
			<h5>Includes:</h5>
			<ul class="alt">
				<li>Dirt bike rental (KTM 525) </li>
			</ul>
			<h5>Price: $200/person</h5>
		</div>
		<div>
			<a href="#contact" class="button special">Book Now</a>
		</div>
		<!-- <span class="image main">
			<img src="https://maps.googleapis.com/maps/api/staticmap?center=33.256571, -116.374913&zoom=12&size=800x250&maptype=terrain&key=AIzaSyBbKppmIK2dChNFqQG7S3NjF7aWxf5LVZ8" alt="">
		</span> -->
	</div>

	<div class="box container">
		<div>
			<h3 class="major">"B" Loop Ride</h3>
			<p>Tailored for intermediate riders. This is a longer trip, about 4-6 hours. We take you to rocky hills and sandy washes to experience all that the desert has to offer.</p>
			<h5>Includes:</h5>
			<ul class="alt">
				<li>Dirt bike rental (KTM 525) </li>
				<li>Lunch at a local diner</li>
			</ul>
			<h5>Price: $275/person</h5>
		</div>
		<div>
			<a href="#contact" class="button special">Book Now</a>
		</div>
		<!-- <span class="image main">
			<img src="https://maps.googleapis.com/maps/api/staticmap?center=33.256571, -116.374913&zoom=12&size=800x250&maptype=terrain&key=AIzaSyBbKppmIK2dChNFqQG7S3NjF7aWxf5LVZ8" alt="">
		</span> -->
	</div>

	<div class="box">
		<h3 class="major">Desert Race</h3>
		<p>Only available if you have completed a "B" loop ride with me or proof you're an experienced rider. This is a very tough
			race, but the feeling of accomplishment in finishing a true desert race is unequivocal anything else.</p>
		<h5>Includes:</h5>
		<ul class="alt">
			<li>Dirt bike rental (KTM 525)</li>
			<li>All entrance fees</li>
			<li>Ray as your personal pit crew</li>
			<li>Lunch after the race</li>
			<li>Experience of a lifetime!</li>
		</ul>
		<h5>Price: $600/person</h5>
		<div>
			<a href="#contact" class="button special">Book Now</a>
		</div>
	</div>

	<div class="box">
		<h3 class="major">Quad Tour</h3>
		<p>Gentle ride through the flats and washes of Ocotillo. Great for beginner riders. Ride last 2-3 hours typically.</p>
		<h5>Includes:</h5>
		<ul class="alt">
			<li>Quad rental</li>
		</ul>
		<h5>Price: $200/person</h5>
		<div>
			<a href="#contact" class="button special">Book Now</a>
		</div>
	</div>

	<div class="box">
		<h3 class="major">Street Bike Tour</h3>
		<p>Come check out the beautiful mountain roads of San Diego. We'll check out some of San Diego's famous cruising roads and even some of the less known backroads.</p>
		<h5>Includes:</h5>
		<ul class="alt">
			<li>Bike rental (VFR 800)</li>
		</ul>
		<h5>Price: $275/person</h5>
		<div>
			<a href="#contact" class="button special">Book Now</a>
		</div>
	</div>

</section>
