---
html_id: FAQ
title: FAQ
---
<h4 class="major">Frequently Asked Questions</h2>
<span class="image main"><img src="images/pic02.jpg" alt="" /></span>
<h4>Do you provide riding gear?</h4>
<p>
	No. People come in too many shapes and sizes for us to provide all the gear needed to ride safely. You can safely ride in jeans, long sleeve shirt, helmet and boots. The only gear that we can provide if necessary is a helmet.
</p>

<h4>Can we stay are your house during our visit?</h4>
<p>
	No. With services like <a href="http://www.airbnb.com" target="_blank">AirBNB</a> and the nearby hotels, there are plenty of lodging options that could provide much more comfort than I could. Enjoy a house or room with a pool or jacuzzi and enjoy your vacation!
</p>

<h4>Do we have to sign a waiver?</h4>
<p>
	Absolutely. You will need to sign a waiver before you can go on the ride. You can also sign up for REACH, which is a LifeFlight service that will fly a helicopter to your location and fly you to the nearest hospital if the situation was dire enough. We haven't needed it yet, but the desert can be unforgiving.
</p>

