--- 
html_id: gallery 
title: Gallery 
---

<section>

	<h1 class="major">Gallery</h2>

		<div class="container">
			<div id="photos">
				{% for image in site.static_files %} {% if image.path contains 'thumbs' %}
					<a href="{{ site.baseurl }}/images/photos/{{ image.name }}" data-fancybox="images">
						<img data-aload="{{ site.baseurl }}{{ image.path }}">
					</a>
				{% endif %} {% endfor %}
				<!-- <span class="image main">
			<img src="https://maps.googleapis.com/maps/api/staticmap?center=33.256571, -116.374913&zoom=12&size=800x250&maptype=terrain&key=AIzaSyBbKppmIK2dChNFqQG7S3NjF7aWxf5LVZ8" alt="">
		</span> -->
			</div>

</section>