---
html_id: about
title: About Us
---
<h2 class="major">About Us</h2>
<span class="image main"><img src="images/pic01.jpg" alt="" /></span>
<p>
	Ray is a native to southern California and was interested in motorcycles very young in life. Just by chance, he stumbled upon an off-road race and was hooked instantly. Fast forward a few years and he found himself in a vacation home in Borrego Springs, CA.
</p>
<p>
	Borrego is a winter vacation area where temperatures can range from 70&deg; to 80&deg; degrees throughout the season. Many motels, hotels and amenities such as dining, hardware stores, etc line the streets of "downtown". Best of all, just a few minutes outside of the main town is Ocotillo Wells off-road area. There are several day rides in this region that range from 3 to 5 hours usually. There are several places to ride to for lunch, but we usually like to stay on the riding trail as much as possible. Conditions vary from hard pack and high speed to extremely rocky, and sandy slow speed trails. Fun is guaranteed to be had!
</p>
<p>
	There are several days of riding on the desert floor ,as well as popular local tracks close by. The icing on the cake is a District 38 desert race. If you time your trip accordingly, you can find yourself in a desert race with Ray as your personal pit crew. Remember when it's freezing in the upper 50 states, Borrego Springs is the place to ride, golf, hike, bike, swim and explore. It's the backside of Palm Springs essentially and about 70 miles away.
</p>

