---
html_id: contact
title: Contact
---
<h2 class="major">Contact</h2>
<p>You can use the form below to reach out to me to book a tour or ask a general question you may have.</p>
<form id="contact-form" netlify netlify-honeypot="bot-field" name="contact-form" action="">
	<p style="display: none;">
		<label>Don’t fill this out: <input name="bot-field"></label>
	</p>
	<div class="field half first">
		<label for="name">Name</label>
		<input type="text" name="name" id="name" />
	</div>
	<div class="field half">
		<label for="email">Email</label>
		<input type="email" name="email" id="email" />
	</div>
	<div class="field">
		<label for="phone">Contact Number</label>
		<input type="text" name="phone" id="phone" class="input-phone"/>
	</div>
	<div class="field">
		<label for="message">Message</label>
		<textarea name="message" id="message" rows="4"></textarea>
	</div>
	<div class="field">
			<label for="tour-type">Tour</label>
			<div class="select-wrapper">
				<select name="tour-type" id="tour-type">
					<option value="Nothing selected"> -- </option>
					<option value="Single Day">Single Day</option>
					<option value="Track Day">Track Day</option>
					<option value="Desert Race">Desert Race</option>
					<option value="Custom">Custom Request</option>
				</select>
			</div>
		</div>
	<ul class="actions">
		<li><button type="submit" class="special">Submit</button></li>
		<li><input type="reset" value="Reset" /></li>
	</ul>
</form>
