<p>
	Useful Links:
	<ul class="alt">
		<li><a href="http://www.borregospringschamber.com/" target="_blank">Borrego Springs Chamber of Commerce</a></li>
		<li><a href="http://ohv.parks.ca.gov/?page_id=1217" target="_blank">Ocotillo Wells</a></li>
		<li><a href="http://www.amad38.com/" target="_blank">District 38</a></li>
		<li><a href="https://reachair.com/" target="_blank">REACH Air Medical Transport</a></li>
	</ul>
</p>