{% comment %}

	Name:

		Ride with Ray Layout

	Description:

		Home page layout.

	Example:

		---
		layout: default
		---

{% endcomment %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Ride with Ray</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css?{{site.time | date: '%s%N'}}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="{{ site.baseurl }}assets/css/noscript.css" /></noscript>
		<script>function aload(t){"use strict";var e="data-aload";return t=t||window.document.querySelectorAll("["+e+"]"),void 0===t.length&&(t=[t]),[].forEach.call(t,function(t){t["LINK"!==t.tagName?"src":"href"]=t.getAttribute(e),t.removeAttribute(e)}),t}
		
		window.onload = function () {
			aload();
		};
		</script>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<!-- <div class="logo">
							<span class="icon fa-motorcycle"></span>
						</div> -->
						<div class="content">
							<div class="inner">
								<h1>Ride with Ray</h1>
								<p>Southern California desert off-road adventure tours</p>
							</div>
						</div>
						<nav>
							<ul>
								{% for panel in site.panels %}
									<li><a href="#{{ panel.html_id }}">{{ panel.title }}</a></li>
								{% endfor %}
							</ul>
						</nav>
					</header>

				{{ content }}

				<!-- Footer -->
					<footer id="footer">
						<div class="top-footer">

							<!-- <svg width="200" height="110" viewBox="0 0 1354 646" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
							    <g transform="matrix(1,0,0,1,-283,-217)">
							        <g id="logo" transform="matrix(1,0,0,1,-26.4467,0.583277)">
							            <g id="Rs" transform="matrix(12.2641,0,0,12.2641,-3587.18,-1671.88)">
							                <g transform="matrix(1,0,0,1,310.518,71.1226)">
							                    <g transform="matrix(-1,0,0,1,119.879,25.2406)">
							                        <path d="M62.99,81.811L89.554,81.811C92.576,81.811 95.931,81.044 98.4,79.183C102.208,76.313 102.209,69.488 98.4,66.619C95.877,64.718 92.634,64.027 89.554,64.027L80.338,64.027L71.938,64.027L62.99,81.811ZM60.852,86.059L74.659,57.639L90.85,57.637C96.498,57.637 103.468,58.557 107.897,62.659C114.825,69.076 114.599,81.642 104.307,84.641C101.166,85.556 97.852,85.762 94.594,86.059L109.282,110.251L92.959,110.251L79.609,86.059L68.143,86.059" style="fill-rule:nonzero;"/>
							                    </g>
							                    <g transform="matrix(1,0,0,1,4.94361,25.2406)">
							                        <path d="M62.99,81.811L89.554,81.811C92.576,81.811 95.931,81.044 98.4,79.183C102.208,76.313 102.209,69.488 98.4,66.619C95.877,64.718 92.634,64.027 89.554,64.027L80.338,64.027L71.938,64.027L62.99,81.811ZM60.852,86.059L74.692,57.637L90.85,57.637C96.498,57.637 103.468,58.557 107.897,62.659C114.825,69.076 114.599,81.642 104.307,84.641C101.166,85.556 97.852,85.762 94.594,86.059L109.282,110.251L92.959,110.251L79.609,86.059L68.143,86.059" style="fill-rule:nonzero;"/>
							                    </g>
							                </g>
							                <g id="Layer1" transform="matrix(1,0,0,1,-66.409,95.6764)">
							                    <path d="M421.652,58.324L433.816,82.498L439.35,73.513L444.86,82.498L457.024,58.324L450.642,58.357L442.884,73.094L439.338,66.896L435.775,73.094L428.017,58.357L421.652,58.324Z"/>
							                </g>
							            </g>
							            <g id="Ride-with-Ray" transform="matrix(0.884165,0,0,0.884165,131.03,-19.4419)">
							                <g transform="matrix(0.974359,0,0,0.974359,90.0128,-118.82)">
							                    <text x="572.396px" y="920.496px" style="font-family:'STHeiti';font-size:148.579px;">Ride</text>
							                </g>
							                <g transform="matrix(2.38042e-17,0.388752,-0.388752,2.38042e-17,1256.48,308.914)">
							                    <text x="917.114px" y="763.475px" style="font-family:'STHeiti';font-size:144px;">with</text>
							                </g>
							                <g transform="matrix(1,0,0,1,-105.272,-136.726)">
							                    <text x="1120.27px" y="914.8px" style="font-family:'STHeiti';font-size:144.769px;">Ray</text>
							                </g>
							            </g>
							        </g>
							    </g>
							</svg> -->

							<svg width="200" height="110" viewBox="0 0 1920 1080" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
								<g id="logo" transform="matrix(1.50841,0,0,1.50841,-358.125,-225.445)">
										<g id="Rs" transform="matrix(12.2641,0,0,12.2641,-3587.18,-1671.88)">
												<g transform="matrix(-1,0,0,1,430.397,96.3632)">
														<g>
																<path d="M72.206,81.811L89.554,81.811C92.576,81.811 95.931,81.044 98.4,79.183C102.208,76.313 102.209,69.488 98.4,66.619C95.877,64.718 92.634,64.027 89.554,64.027L80.772,64.027L72.206,81.811ZM70.068,86.059L83.875,57.639L90.85,57.637C96.498,57.637 103.468,58.557 107.897,62.659C114.825,69.076 114.599,81.642 104.307,84.641C101.166,85.556 97.852,85.762 94.594,86.059L104.307,102.057L87.985,102.057L79.609,86.059L77.359,86.059" style="fill-rule:nonzero;"/>
														</g>
												</g>
												<g transform="matrix(1,0,0,1,297.1,96.3632)">
														<g>
																<path d="M72.206,81.811L89.554,81.811C92.576,81.811 95.931,81.044 98.4,79.183C102.208,76.313 102.209,69.488 98.4,66.619C95.877,64.718 92.634,64.027 89.554,64.027L80.772,64.027L72.206,81.811ZM70.068,86.059L83.875,57.639L90.85,57.637C96.498,57.637 103.468,58.557 107.897,62.659C114.825,69.076 114.599,81.642 104.307,84.641C101.166,85.556 97.852,85.762 94.594,86.059L105.038,102.561L88.716,102.561L79.609,86.059L77.359,86.059" style="fill-rule:nonzero;"/>
														</g>
												</g>
												<g transform="matrix(1,0,0,0.741267,-75.5824,117.021)">
														<g id="Layer1">
																<path d="M425.221,58.357L433.816,82.498L439.35,73.513L444.86,82.498L453.48,58.357L448.787,58.357L442.884,73.094L439.338,66.896L435.775,73.094L430.098,58.357L425.221,58.357L425.221,58.357Z"/>
														</g>
												</g>
											</g>
								</g>
						</svg>

						</div>
						<div class="bottom-footer">
							<p class="copyright">Ride with Ray &copy; 2017</p>
							<p class="copyright">By: <a href="http://arick.io/">Arick Conley</a> </p>
						</div>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/cleave.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/cleave-phone.i18n.js"></script>
			<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/util.js"></script>
			<script src="{{ site.baseurl }}/assets/js/main.js"></script>

	</body>
</html>
